---
import { count } from "./counter";
---

<div id="counter-vanilla">{count.get()}</div>

<script>
  import * as xignal from "xignal"

  import { count } from "./counter"

  const el = document.getElementById("counter-vanilla")!

  xignal.effect(() => {
    el.innerText = `${count.get()}`
  })
</script>
