---
import Page from "~/layouts/Page.astro";

//
---

<Page title="vue">
  <Fragment slot="body">
    <div class="flex items-center justify-center w-dvw h-dvh bg-xn-1 text-xn-12">
      <h1 class="font-mono font-bold text-3xl md:text-4xl xl:text-5xl">vue</h1>
    </div>
  </Fragment>
</Page>